$def with(rank)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>Hello</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
	<![endif]-->
	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
</head>
<body>
<!-- Shell -->
<div id="shell">
	<!-- Header -->
	<div id="header">
		<h1 id="logo"><a href="#">movie hunter</a></h1>
		<div class="social">
			<span>FOLLOW US ON:</span>
			<ul>
			    <li><a class="twitter" href="#">twitter</a></li>
			    <li><a class="facebook" href="#">facebook</a></li>
			    <li><a class="vimeo" href="#">vimeo</a></li>
			    <li><a class="rss" href="#">rss</a></li>
			</ul>
		</div>
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="/movie_rate_s">MOVIE</a></li>
			    <li><a class="active" href="/a_s">ACTOR</a></li>
			    <li><a href="/c_s">CATGORY</a></li>
			    <li><a href="/p_s">PHOTO</a></li>
			    <li><a href="/r">RECOMMEND</a></li>
			</ul>
		</div>
		<!-- end Navigation -->
		
		<!-- Sub-menu -->
		<div id="sub-navigation">
			<form action="/a" method="get" >
			<ul>
			    <li><label for="type">NAME<input type="radio" name="type"  value="1" checked/> </label></li>
			    <li><label for="type">GRAPH<input type="radio" name="type"  value="2" /> </label></li>
			</ul>
			<div id="search">
                <label for="search-field">SEARCH</label>					
				<input type="text" name="kw" value="Enter search here" id="search-field" title="Enter search here" class="blink search-field"  />
				<input type="submit" value="GO!" class="search-button" />
			</div>
			</form>
		</div>
		<!-- end Sub-Menu -->
		
	</div>
	<!-- end Header -->
	
	<!-- Main -->
	<div id="main">
		<!-- Content -->
		<div id="content">
                $for person in rank:
				    <!-- Movie -->
				    <div class="movie">					
					    <div class="movie-image">
						    <a href="$person[1]"><span class="play"><span class="name">$person[2]</span></span><img src=$person[0] alt="movie" /></a>
					    </div>
                        <p>NAME : $person[2]</p>
				    </div>
				    <!-- end Movie -->
				
				
				<div class="cl">&nbsp;</div>
		</div>
		<!-- end Content -->

		
		<div class="cl">&nbsp;</div>
	</div>
	<!-- end Main -->
	<!-- Footer -->
	<div id="footer">
		<p> &copy;  Movie Hunter. All Rights Reserved.</p>
	</div>
	<!-- end Footer -->
</div>
<!-- end Shell -->
</body>
</html>
